
/* mapa de redes sociales */
.red--twitter {
  background: #51aff8; }
  .red--twitter:hover {
    background: white; }
    .red--twitter:hover .red__nombre {
      color: #51aff8; }

.red--facebook {
  background: #2956a3; }
  .red--facebook:hover {
    background: white; }
    .red--facebook:hover .red__nombre {
      color: #2956a3; }

.red--linkedin {
  background: #0076b8; }
  .red--linkedin:hover {
    background: white; }
    .red--linkedin:hover .red__nombre {
      color: #0076b8; }

.red--youtube {
  background: #ce1312; }
  .red--youtube:hover {
    background: white; }
    .red--youtube:hover .red__nombre {
      color: #ce1312; }

.btn {
  border-radius: 5px; }

/* map-get */
.youtube {
  color: #ce1312; }

.facebook {
  color: #2956a3; }

.subrayado {
  text-decoration: underline; }
