body {
  padding: 0%;
  margin: 0%;
}

.contendor__general{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 3px;
  word-spacing: 30px;
  

  background-image: linear-gradient(
    to bottom,
    rgba(39, 39, 189, 0.75),
    rgba(168, 180, 248, 0.75)
    
  );
  position: sticky;
  top: 0px;
  left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  }

.listicky :hover {
  font-size: 32px;
  transition: 1s;
}

.Titulos {
  color: ivory;
  text-align: center;
}

li {
  display: inline;
}

.Tarjeta__Img__Fondo_Index {
  background-image: url("./imagenes/basquetfondo.jpeg");
  background-position:right;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.Tarjeta__Fondo_Contacto {
  background-image: url("./imagenes/aroypelotafondo.jpg");
  height: 1000px;
  width: 1000px;
  border-radius: 10px;
  
}

.Tarjeta__Letras {
  color: rgb(240, 203, 38);
}

.div__nombre {
  color: white;
  font-size: 25px;
  padding-left: 30px;
}
.contenedordeimgytexto {
  width: 100%;
}
.contenedordeimg {
  border: 6px solid orange;
  border-radius: 20px;
  float: left;
  display: inline;
  padding: 10px;
  margin: 60px 30px 14px 20px;
}

.contenedordetexto {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  text-justify: auto;
  padding: 2em;
}

@media screen and (max-width:320px) {
  .contendor__general{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.contenedor__galeria{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
 
  
}
h1{
  text-align: center;

}
p{
  text-align: start;
 
}




@media screen and (max-width:320px) {
  .contenedor__galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
}


@media screen and (max-width:600px) {
  .contenedor__galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: inline;
  }
  

}
@media screen and (max-width:1200px) {
  .contenedor__galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: inline;
  }

}
